/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/JavaApplication19/dist/
/Semana4/nbproject/private/
/Semana4/dist/
/Semana4/build/
/Semana 5/nbproject/private/
/Semana 5/build/
/Semana 5/dist/
/Semana6/nbproject/private/
/PracticaExamen/nbproject/private/
/Practica para examen 3 ejercicios/nbproject/private/
/ExamenPrimerEjercicio/nbproject/private/
/ExamenPrimerEjercicio/build/
/ExamenPrimerEjercicio/dist/
/Examen parte2/nbproject/private/
/Examen parte2/dist/
/Examen parte2/build/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/Ejercicio3/dist/
/Proyecto/nbproject/private/
/Proyecto3Cuatri/nbproject/private/
/Proyecto3Cuatri/dist/
/Proyecto3Cuatri/build/
/Clasesem8/nbproject/private/
/Clasesem8/build/
/Clasesem8/dist/
/Semana9/nbproject/private/
/Semana9/build/
/Semana9/dist/
/Caso de negocio/nbproject/private/
/Caso de negocio/dist/
/Caso de negocio/build/
